form {
}

input[type=date] {
	padding: 2px;
	text-align: center;
	font-family: "Roboto", sans-serif;
}

.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.datePick {
	width: 100%;
	font-size: 1em;
}



// GENERAL FORM STUFF

html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


.input {
  position: relative;
  margin: 15px;
}
.input label {

}
.input .help-block {

}


// INPUTS MASTER

.input input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}
.input input[type='checkbox'] + label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding-left: 30px;
}
.input input[type='checkbox'] + label:before {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  border: 2px solid $blue;
  height: 20px;
  width: 20px;
  border-radius: 1px;
  // background: #ffffff;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  box-sizing: border-box;
}
.input input[type='checkbox'] + label:after {
  position: absolute;
  display: block;
  content: "";
  bottom: 4px;
  left: 7px;
  width: 6px;
  height: 13px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  box-sizing: border-box;
}
.input input[type='checkbox']:focus + label:before {
  // SHADOW FOCUS
  // box-shadow: 0 0 5px #5cb85c;
}
.input input[type='checkbox']:checked + label:before {
  background: $blue;
}
.input input[type='checkbox']:checked + label:after {
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  opacity: 1;
}
.input input[type='checkbox'][disabled] + label {
  color: #cccccc;
}
.input input[type='checkbox'][disabled] + label:before {
  border-color: #cccccc;
}
.input input[type='checkbox'][disabled]:checked + label:before {
  background: #cccccc;
}


// RADIO BUTTON

.input input[type='radio'] {
  position: absolute;
  opacity: 0;
}
.input input[type='radio'] + label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding-left: 30px;
}
.input input[type='radio'] + label:before,
.input input[type='radio'] + label:after {
  position: absolute;
  left: 3px;
  bottom: 3px;
  display: block;
  content: "";
  border: 2px solid $blue;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  // background: #ffffff;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  background-clip: padding-box;
}
.input input[type='radio'] + label:after {
  background: $blue;
  border: 2px solid $bkg_light;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.input input[type='radio']:focus + label:before {
  // box-shadow: 0 0 5px $blue;
}
.input input[type='radio']:checked + label:before {
  border-color: $blue;
}
.input input[type='radio']:checked + label:after {
  -webkit-transform: scale(0.75, 0.75);
      -ms-transform: scale(0.75, 0.75);
          transform: scale(0.75, 0.75);
}
.input input[type='radio'][disabled] + label {
  color: #cccccc;
}
.input input[type='radio'][disabled] + label:before {
  border-color: #cccccc;
}
.input input[type='radio'][disabled]:checked + label:before,
.input input[type='radio'][disabled]:checked + label:after {
  background: #cccccc;
}

